<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>
    <style>
         body{
        text-align: center;
    }
    input{
            border-color: #ee4c7c;
            width: 200px;
            padding: 10px;
            border-radius: 5px;
        }
        input:hover{
            border-color: #f31658;
            width: 250px;
        }
        input:active{
            border-color: #f31658;
            width: 250px;
        }
        button{
            padding: 7px;
            border-color: #df019c;
            color: #f31658;
            border-radius: 5px;
            font-size: large;
        }
        select{
            padding: 7px;
            border-color: #df019c;
            color: #f31658;
            border-radius: 5px;
            font-size: large;
        }
        button:hover{
            padding: 12px;
            background-color: black;
            border-radius: 5px;

        }
        textarea{
            border-color: #ee4c7c;
            width: 250px;
            height: 70px;
            padding: 10px;
            border-radius: 5px;
            border-width: 2px;
        }
        #customFile{
            padding: 7px;
            border-color: #df019c;
            color: #f31658;
            border-radius: 5px;
            font-size: 15px;
        }
        textarea:hover{
            border-color: #f31658;
            width: 350px;
        }
        textarea:active{
            border-color: #f31658;
            width: 350px;
        }
    </style>
<body>
    <%- include('partials/navbar') %>
    <h1>Name : <%= product.productname %> </h1>
    <img src="data:image/<%= product.image.contentType %>;base64, 
    <%= product.image.data.toString('base64') %>" width="200" height="200" alt="Image">
    <form action="/product/<%= product.id %>?_method=PUT" method="POST" >
       
        <div>
            <label for="description">Description </label><br>
            <textarea name="description" id="description"  placeholder="<%= product.description %>"  rows="4" cols="40"  required  > <%= product.description %> </textarea>
 
        </div>
        <div >
            <label for="tag"> Product Category </label><br>
            <select  id="productcategory" name="tag">
                <option value="<%= product.tag %>"> <%= product.tag %> </option>
                <option value="Statues"> Statues </option>
                <option value="Coins"> Coins </option>
                <option value="Paintings"> Paintings </option>
                <option value="Ornaments"> Ornaments </option>
                <option value="Tools"> Tools </option>
                <option value="Other Products"> Other products </option>
            </select>
        </div>
        <div >
            <label for="baseprice"> Base Price</label><br>
            <input  type="number" name="baseprice"  id="baseprice" placeholder = "<%= product.baseprice %>" value="<%= product.baseprice %>" required />
                  
        </div>
        <br><br>
        <button>Submit</button>
    </form>
    


    
</body>
</html>