<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <a href = "/login">Login</a>
    <a href = "/register">Register</a>
    <a href = "/newproduct">Add Product</a>
    <a href = "/home">Home</a>
    <a href = "/dashboard">Dashboard</a>
    <a href = "/logout">Logout</a>
    <% products.forEach(function (product) { %>
        <% var deadlineDate = new Date(product.end) %> 
        <% var startDate = new Date(product.start) %> 
        <% var now = Date.now() %> 
        
        <h1>Name : <%= product.productname %> </h1>
        <h3>Description : <%= product.description %> </h3>
        <h3>Tag : <%= product.tag %> </h3>
        <h3>Base Price :<%= product.baseprice %></h3>
        <h3>Owner : <%= product.owner.username %> </h3>
        <h3>Auction Start Time : <%= product.start %> </h3>
        <h3>Auction End Time : <%= product.end %> </h3>
        <% if(product.price.length !== 0) {%> 
          <h3>Highest Bid : <%= product.price[product.price.length -1] %> &nbsp &nbsp &nbsp Bidder :<%= product.biders[product.biders.length -1].username %> </h3>
        <% } %> 
        <img src="data:image/<%= product.image.contentType %>;base64, 
		<%= product.image.data.toString('base64') %>" width="300" height="300" alt="Image"> 
       
        <% if(deadlineDate >= now && startDate <= now) {%> 
            <a href = "/bid/<%= product._id %>">Bid Here</a>
        <% } %> 
    <% }) %>   
</body>
</html>