<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        .star-rating {
        /* border:solid 1px #ccc; */
        display:flex;
        flex-direction: row-reverse;
        font-size:1.5em;
        justify-content:space-around;
        padding:0 .2em;
        text-align:center;
        width:5em;
        }

        .star-rating input {
        display:none;
        }

        .star-rating label {
        color:#ccc;
        cursor:pointer;
        }

        .star-rating :checked ~ label {
        color:#f90;
        }

        .star-rating label:hover,
        .star-rating label:hover ~ label {
        color:#fc0;
        }

        /* explanation */

        article {
        background-color:#ffe;
        box-shadow:0 0 1em 1px rgba(0,0,0,.25);
        color:#006;
        font-family:cursive;
        font-style:italic;
        margin:4em;
        max-width:30em;
        padding:2em;
        }
    </style>
</head>
<body>
    <% let list  = [] %>
    <% for(let j=0;j<product.commented.length;j++){ %>
        <% list += product.commented[j].username %>        
    <% } %>  
    <%= list %> 
        <h1>Name : <%= product.productname %> </h1>
        <h3>Description : <%= product.description %> </h3>
        <h3>Tag : <%= product.tag %> </h3>
        <h3>Base Price :<%= product.baseprice %></h3>
        <h3>Owner : <%= product.owner.username %> </h3>

        <img src="data:image/<%= product.image.contentType %>;base64, 
		<%= product.image.data.toString('base64') %>" width="300" height="300" alt="Image"> 
        <% if(product.owner.username == user.username){ %> 
            <h2>Auction History</h2>
            <% for(let i = 0 ;i<product.biders.length ; i++) { %>
            <h3><%= product.biders[i].username %> : <%= product.price[i] %>  </h3> 

            <% } %>
        <% } %> 
            <% if(list.includes(user.username)) {%>


            <% } else {%>
             
        
        
         
                <form action="/productdetails/<%= product._id %>" method="POST"  >
                    <div class="star-rating">
                        <input type="radio" id="5-stars" name="rating" value= 5 />
                        <label for="5-stars" class="star">&#9733;</label>
                        <input type="radio" id="4-stars" name="rating" value= 4 />
                        <label for="4-stars" class="star">&#9733;</label>
                        <input type="radio" id="3-stars" name="rating" value= 3 />
                        <label for="3-stars" class="star">&#9733;</label>
                        <input type="radio" id="2-stars" name="rating" value= 2 />
                        <label for="2-stars" class="star">&#9733;</label>
                        <input type="radio" id="1-star" name="rating" value= 1 />
                        <label for="1-star" class="star">&#9733;</label>
                    </div>
                    
                    <div>
                        <label for="comment">Comment </label>
                        <textarea name="comment" id="comment"  placeholder="comment" required  ></textarea>
            
                    </div>
                    <button>Add Comment</button>
                    <% flg = 1 %> 
                </form>
            <% } %> 
        
        <h1>Comments</h1>
        <% for(let i = 0 ;i<comments.length ; i++) { %>
        <% if (comments[i].rating == 1) { %> 
            <h3 style="color: red;">Rating : &#9733; </h3> 
        <% } else if (comments[i].rating == 2){ %> 
            <h3 style="color: rgb(241, 134, 12);">Rating : &#9733 &#9733; </h3>
        <% } else if (comments[i].rating == 3){ %> 
            <h3 style="color: rgb(207, 211, 19);">Rating :&#9733 &#9733  &#9733; </h3>
        <% } else if (comments[i].rating == 4){ %> 
            <h3 style="color: rgb(139, 243, 129);">Rating : &#9733 &#9733  &#9733 &#9733; </h3>
        <% } else { %> 
            <h3 style="color: rgb(14, 230, 24);">Rating :&#9733 &#9733 &#9733 &#9733 &#9733; </h3>
         <% } %> 
            
            <h3>Comment : <%= comments[i].comment %> </h3> 
            <br>
            <% if (user.username == comments[i].ownedBy.username){ %> 
                <form action="/productdetails/<%= product.id %>?_method=DELETE" method="POST" >
                    <button type="submit" class="btn btn-danger btn-lg">Delete</button>
                </form>
                <a href="/updatedetails/<%= comments[i].id %>">Edit</a>
            <% } %> 
          <% } %>

        <a href = "/login">Login</a>
        <a href = "/register">Register</a>
        <a href = "/newproduct">Add Product</a>
        <a href = "/home">Home</a>
        <a href = "/dashboard">Dashboard</a>
        <a href = "/logout">Logout</a>
        <%  list  = [] %>
</body>
</html>